[Unit]
Description=Wait for network interface to have an IP address
After=wicked.service
Wants=wicked.service
Before=multi-user.target
Requisite=wicked.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wait-for-network.sh
TimeoutSec=30
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target