[Unit]
Description=Display idle monitor to turn off screen after inactivity
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/local/bin/display_off_idle_universal.sh
Restart=always
User=root
Group=input
Environment="PATH=/usr/bin:/usr/sbin:/bin:/sbin"

[Install]
WantedBy=multi-user.target
